/* Fonts imported from Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Orbitron:wght@600&family=Roboto&family=Rubik&family=Ubuntu:wght@300&display=swap');

/* General Rules */

* {
    margin: 0;
    padding: 0;
    border:none;

}

/* Header */

#title-header > h1, #nav-header {
    line-height: 75px;
}

#title-header {
    margin-left: 25px;
}

#title-header > h1 {
    font-family: orbitron;
    letter-spacing: 2px;
    font-size: 40px;
}

#title-header > h3 {
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 800;
}

#nav-header {
    float:right
}

.full-nav > a, .short-nav > a {
    text-decoration: none;
    margin-right: 30px;
    color: black;
    font-weight: 400;
    font-family: inconsolata;
}

.full-nav > a:hover, .short-nav > a:hover {
    color: rgb(148, 73, 247);
}

.full-nav > .active, .short-nav > .active {
    color: rgb(148, 73, 247);
}

#header-image {
    width: 100%;
}


/* Content*/

.title {
    font-family: orbitron;
    font-size: 25px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 900;
}

p {
    font-family: Ubuntu;
    margin-left: 10%;
    margin-right: 10%;
}

.content-picture {
    margin: 10% 10% 10% 10%;
}

#content-octopus-image {
    width: 80%;
}

.content-embedded-video {
    margin: 10% 10% 10% 10%;
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .content-form {
    margin: 10% 10% 10% 10%;
  }

  .content-radio-button {
    margin-top: -1px;
    vertical-align: middle;
  }

  
  .content-input-text {
    border: 2px solid black;
    padding: 5px;
  }

/* Footer*/

#button {
    text-decoration: none;
    width: 100%;
    position:relative;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button > button {
    text-decoration: none;
    position: relative;
    line-height: 30%;
    border: 1px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: orbitron;
    border-radius: 5%;
    width: 24%;
    text-decoration: none;
    color: black;
  }

#button > button:hover {
    color: rgb(148, 73, 247);

  }

  #nav-footer > .active {
    color: rgb(148, 73, 247);

  }

  #footer-image {
    width: 100%;
  }

  /* Specific for uplift octopus*/

  .link-list {
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
  }

  .link-list > ul {
    list-style-type: none;
    margin-top: 5%;
  }

  /* Specific for feedback*/

  form > p {
    margin: 0px 10px 0px 0px;
  }

  form > input {
    text-align: left;
    vertical-align: top;
  }
  #fname {
    width: 80%;
  }
  #email {
    width: 80%;
  }

  #hear-from-us, #advice {
    width: 100%;
    aspect-ratio: 2/1;
    text-align: start;
  }

  #hear-from-us::placeholder, #advice::placeholder {
    position: absolute;
    top:0;
    left:0;
    padding: 1%;
  }
  
  #hear-from-us , #advice {
    top:0;
    left:0;
  }

  /*Responsive and Adaptive design*/

    /*Index page*/
@media screen and (min-width: 1300px) {
    .short-text{
        display: none;
    }
    .short-nav {
        display: none;
    }
    .full-nav{
        display: inline-block;
    }
    #button > .full-button {
        display: inline-block;
    }
    #button > .short-button {
        display: none;
    }
}


@media screen and (max-width: 1300px) {
    .short-text{
        display: none;
    }
    .short-nav {
        display: none;
    }
    .short-text{
        display: none;
    }
    header > h1 {
        font-family: orbitron;
        font-size: 30px;
    }

    header > h3 {
        font-family: Ubuntu;
        font-size: 15px;
        font-weight: 800;
    }
    .title {
        font-size: 18px;
    }
    #button > .full-button {
        display: inline-block;
    }
    #button > .short-button {
        display: none;
    }
    
}

@media screen and (max-width: 1200px) {
    .short-text {
        display: inline-block;
    }
    .full-text{
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    #nav-header > a {
        margin-right:10px;
    }
    #nav-footer > a {
        margin-right:10px;
    }

    #button > .full-button {
        display: none;
    }
    #button > .short-button {
        display: inline-block;
    }

    header > h1 {
        font-family: orbitron;
        font-size: 25px;
    }

    header > h3 {
        font-family: Ubuntu;
        font-size: 12px;
        font-weight: 800;
    }
    .title {
        font-size: 15px;
    }
}

@media screen and (max-width: 800px) {  
    .short-nav {
        display: inline-block;
    }
    .full-nav{
        display: none;
    }  
    #button > button {
    width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .short-nav > a { 
        margin-right: 5px;
    }
    #feedback-icon {
        margin-right: 30px;
    }
}

@media screen and (max-width: 600px) {
    #title-header > h1 {
        font-size: 30px;
    }
    #title-header > h3 {
        font-size: 15px;
    }
    p {
        font-size: 12px;
    }
    .short-button {
        font-size: 12px
    }

    #button > button {
        font-size: 12px;
        padding: 8px 16px;
        width: 20%;
    }

}

@media screen and (max-width: 500px) {
    #title-header > h1 {
        font-size: 40px;
    }
    #title-header > h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    #title-header > h1 {
        font-size: 30px;
    }
    #title-header > h3 {
        font-size: 15px;
    }
    #nav-header > a {
        font-size: 20px;
    }
    #button > button {
        width: 24%;
    }

}

@media screen and (max-width: 300px) {
    #title-header > h1 {
        font-size: 25px;
    }
    #title-header > h3 {
        font-size: 12px;
    }
    #button > button {
        width: 30%;
    }
}


